body {
  margin: 0;
  padding: 0;
}
td{
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

.wrapper {
  width: 100%;
  font-family: Arial;
  background-color: #f3f1ebb7;
}

/* Hero */
.container {
  background-color: #FFFBF2;
  width: 600px;
  padding: 30px 30px 0 30px;
}
.img1 {
  width: 100%;
  height: 604px;
  object-fit: cover;
}

.wrapTitle {
  text-align: center;
  width: 100%;
}
.title {
  width: 80%;
  display: inline-block;
  font-size: 70px;
  color: #2E4B38;
}

/* Section 1 */
.container2 {
  background-color: #FFFBF2;
  width: 600px;
  padding: 30px 30px 0 30px;
}
.wrapSecOne {
  background-color: #E7F0EA;
  color: #2E4B38;
  padding: 30px;
  width: 100%;
  align-items: center;
}
.secOneTitle {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.secOneSubtitle {
  font-size: 18px;
  padding: 10px 40px 0 40px;
}



.secTwoTitle {
  font-size: 30px;
  font-weight: bold;
}
.container3 {
  background-color: #FFFBF2;
  width: 600px;
  padding: 0 30px 0 30px;
}
.wrapSecTwo {
  width: 100%;
  text-align: center;
  background-color: #FFFEFF;
  color: #2E4B38;
  padding: 30px;
  width: 100%;
}
.wrapSecTwoCard {
  background-color: #FFFEFF;
  color: #2E4B38;
  padding: 0 30px 30px 30px;
  width: 100%;
}

.wrapSmallImg {
  padding: 16px;
  background-color: #E7F0EA;
  border-radius: 50px;
}
.smallImg {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.secTwo {
  padding: 16px;
}

.wrapSecText {
  padding-left: 10px;
  color: #2E4B38;
}
.secTextTitle {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.secText  {
  font-size: 14px;
  text-align: left;
}
.location {
  text-decoration: underline;
}


.container4 {
  background-color: #FFFBF2;
  width: 600px;
  padding: 0 30px 0 30px;
  text-align: center;
}
.wrapSecThreeTitle {
  padding: 30px 0 0 0;
  background-color:#E7F0EA;
}
.wrapSecThree {
  padding: 30px 0;
  background-color:#E7F0EA;
}
.secTitle {
  font-size: 24px;
  font-weight: bold;
  color: #2E4B38;
}
.wrapImgSec {
  text-align: center;
  width: 100%;
}
.imgSec {
  width: 130px;
  height: 210px;
  object-fit: cover;
}
.wrapSecTextFinal {
  padding: 10px 0;
  background-color:#E7F0EA;
  width: 100%;
}
.secTextFinal {
  width: 66%;
  display: inline-block;
  text-align: start;
}

.textFinal {
  font-size: 18px;
  color: #2E4B38;
  line-height: 26px;
}
.btnFinal {
  text-decoration: none;
  background-color: #2E4B38;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
}

.wrapFinalBtn {
  width: 100%;
  padding-bottom: 20px;
  background-color: #E7F0EA;
  text-align: center;
}
.tbwrapSecbtnFinal {
  width: 70%;
  display: inline-block;
  text-align: start;

}
.secbtnFinal {
  display: inline-block;
  text-align: start;
}

/* Footer */
.wrapSecFooter {
  background-color: #FFFBF2;
  width: 600px;
  padding: 0 30px;
  text-align: center;
}
.footerTitle {
  padding: 20px 0;
  color: #2E4B38;
  font-size: 60px;
}
.footerUnsub {
  color: #2E4B38;
  font-size: 14px;
  padding: 10px 0 40px 0;
}
.footerLink {
  color: #2E4B38;
  font-weight: bold;
}