body {
  margin: 0;
  padding: 0;
}
td{
  margin: 0;
  padding: 0;
}

.section-title {
  font-family: Georgia;
  font-size: 40px;
  color: #2d2d2f;
  margin: 0;
}

.wrapper {
  width: 100%;
}

.container {
  background-color: #D5EADA;
  width: 600px;
  padding: 0 40px;
}


/* Header */
.header {
  padding: 30px 0;
}

.header-table {
  width: 100%;
}

.nav {
  font-family: Arial;
  font-size: 16px;
  text-align: center;
}
.nav-text {
  font-weight: bold;
  font-family: Arial;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
.nav-left {
text-align: left;
}
.nav-right {
  text-align: right;
}

.nav-logo-wrap {
  width: 110px;
  height: auto;
}
.nav-logo {
  width: 100%;
}

/* Container Table */
.wrap-hero-img {
  width: 100%;
  height: 688px;
  position: relative;
}

.hero-img {
  width: 100%;
  height: 688px;
  object-fit: cover;
  filter: grayscale(1);
}

.hero-content {
  width: 100%;
  height: 688px;
}

/* Using your hero-text class for font styles */
.hero-text {
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 52px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 2px;
  padding: 30px;
  margin: 0;
}

.hero-text span {
  color: #E398EA
}

p.hero-text {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  padding: 18px 25px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  font-family: Arial;
  font-size: 18px;
}


/* Live Title-Section */

.wrap-sec-title {
  width: 100%;
  padding: 40px 0 0 0;
}
.section-title {
  text-align: center;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 2px;
  font-size: 145px;
  font-family: Big Shoulders;
  color: #E398EA;
}


/* Content */

.wrap-con-section {
  width: 100%;
}

.con-img {
  max-width: 162px;
  height: 360px;
  object-fit: cover;
  filter: grayscale(1);
}
.con-img-s {
  max-width: 162px;
  height: 190px;
  object-fit: cover;
  display: block;
  filter: grayscale(1);
}

.con-section {
  padding: 20px;
}

.p1 {
  margin: 0;
  padding: 20px 0 0 0;
  line-height: 30px;
  font-size: 22px;
  font-family: Arial;
  font-weight: bolder;
}

.p2 {
  margin: 0;
  padding: 0 0 20px 0;
  line-height: 24px;
  font-size: 16px;
  font-family: Arial;
}

/* ROZ */

.roz-bg {
  background-color: #E398EA;
  padding: 0 30px;
}

.roz-p {
  margin: 0;
  padding: 20px 0;
  font-family: Big Shoulders;
  font-size: 75px;
  line-height: 70px;
  font-weight: bolder;
}

.roz-sec {
  padding-bottom: 30px;
}


.half-1, .half-2 {
  max-width: 272px;
}
.half-1{
  padding-right: 15px;
}
.half-2 {
  padding-left: 15px;
}

.roz-img {
  width: 100%;
  height: 228px;
  object-fit: cover;
  filter: grayscale(1);
}
.roz-img-2 {
  width: 100%;
  height: 228px;
  object-fit: cover;
  filter: grayscale(1);
}

.roz-art-title {
  padding-top: 20px;
  margin: 0;
  font-family: Arial;
  font-size: 16px;
  letter-spacing: 2px;
}
.roz-creator {
  margin: 0;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
}
.roz-description {
  margin: 0;
  font-family: Arial;
  font-size: 16px;
  min-height: 60px;
}

.btn-bl {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid #000000;
  color: #000000;
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
}




.last-content {
  width: 100%;

  position: absolute;
  bottom: 0; left: 0;
}
.wrap-last-img {
  padding-top: 100px;
  width: 100%;
  height: 688px;
  position: relative;
}

.last-img {
  width: 100%;
  height: 688px;
  object-fit: cover;
  filter: grayscale(1);
}

.last-text {
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 52px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 2px;
  padding: 0 30px;
  margin: 0;

}
.last-text span {
  color: #E398EA
}

.last-text p {
  margin: 0;
}


.last-img-text {
  font-size: 18px;
  font-family: Arial;
  font-weight: lighter;
  letter-spacing: 1.1;
  padding: 20px 0;
}