body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

table {
  border-collapse: collapse;
}

td {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.wrapper {
  width: 100%;
}


.containerHero {
  background-color: #dbdcca;
  width: 600px;
}


.logo {
  width: 166px;
  height: auto;
}
.img1 {
  width: 600px;
  padding: 0 30px;
}